@use "../../sass/main.scss" as main;

.btn {
  all: unset;
  cursor: pointer;
  transition: all 0.2s ease;

  &.btn-wrapper-small {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-text {
      color: white;
      user-select: none;
    }
  }

  &.info {
    border: 1px solid main.$search-bar-border-color;

    .btn-text {
      color: main.$primary-dark-text-color;
      font-weight: bold;
      user-select: none;
      transition: all 0.2s ease;
    }

    &:hover {
      border: 1px solid main.$search-bar-focus-border-color;
      transition: all 0.2s ease;
    }

    &:active {
      background-color: main.$btn-primary-color;

      .btn-text {
        color: white;
        transition: all 0.2s ease;
      }
    }
  }

  &.action {
    background-color: main.$btn-primary-color;

    &:hover {
      opacity: 0.75;
      transition: all 0.2s ease;
    }

    &:active {
      background-color: main.$btn-primary-active-color;
    }
  }
}

