$btn-primary-color: #4040F2;
$btn-primary-active-color: #2525a0;
$side-bar-color: #0d0e0e;
$side-bar-text-color: #F1F1F1;
$background-color: #FAFAFA;
$component-box-color: #FFFFFF;
$search-bar-border-color: #EAECEE;
$search-bar-placeholder-color: #D6DADE;
$search-bar-focus-border-color: #6E6EF7;

$primary-dark-color: #242D35;
$secondary-dark-color: #4F5B67;

