@use "../../sass/main.scss" as main;

.authentication-wrapper {
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  width: 350px;
  height: 400px;

  .shape{
    height: 105px;
    width: 105px;
    position: absolute;
    border-radius: 50%;
  
    &:nth-child(1) {
      background: linear-gradient(
        #1845ad,
        #23a2f6
      );
      left: -41px;
      top: -40px;
    }
  
    &:nth-child(2) {
      background: linear-gradient(
        to right,
        #ff512f,
        #f09819
      );
      right: -43px;
      bottom: -45px;
    }
  }
  
  .authentication-form-container {
    height: 100%;
    flex-direction: column;
    background-color: rgba(255,255,255,0.13);
    color: white;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
  }
}

