@use "sass/main.scss" as main;

body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans";
  // overflow: hidden;
}

.App {
  display: flex;
  font-size: main.$fs1;
  background-color: main.$background-color;

  .side-bar-container {
    position: fixed;
    min-width: 230px;
    max-width: 230px;
    height: 100%;
    background-color: main.$side-bar-color;
    color: main.$side-bar-text-color;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 230px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
